@mixin global-variables() {
	:root {
		--side-nav-width: 360px;
		--header-height: 4rem;

		--md-sys-sape-corner-small: 0.5em;
		--md-sys-shape-corner-medium: 0.75em;
		--md-sys-shape-corner-large: 1.5em;
		--md-sys-shape-corner-extra-large: 1.75em;
	}
}