@import './color-token-generator.scss';

$color-tokens: (
	md-source: #006b59,
	
  	primary0: #000000,
  	primary10: #002019,
  	primary20: #00382d,
 	primary25: #004438,
  	primary30: #005143,
  	primary35: #005e4e,
  	primary40: #006b59,
  	primary50: #008771,
  	primary60: #00a389,
  	primary70: #39bfa3,
  	primary80: #5bdbbe,
  	primary90: #7af8d9,
  	primary95: #b8ffea,
  	primary98: #e6fff6,
  	primary99: #f3fff9,
  	primary100: #ffffff,
	
  	secondary0: #000000,
  	secondary10: #07201a,
  	secondary20: #1d352e,
  	secondary25: #284039,
  	secondary30: #334b44,
  	secondary35: #3f5750,
  	secondary40: #4b635c,
  	secondary50: #637c74,
  	secondary60: #7c968e,
  	secondary70: #97b1a8,
  	secondary80: #b1ccc3,
  	secondary90: #cde8df,
  	secondary95: #dbf7ed,
  	secondary98: #e6fff6,
  	secondary99: #f3fff9,
  	secondary100: #ffffff,

  	tertiary0: #000000,
  	tertiary10: #001e2e,
  	tertiary20: #103447,
  	tertiary25: #1d3f53,
  	tertiary30: #294a5f,
  	tertiary35: #36566b,
  	tertiary40: #426277,
  	tertiary50: #5b7b91,
  	tertiary60: #7495ac,
  	tertiary70: #8fafc7,
  	tertiary80: #aacbe3,
  	tertiary90: #c6e7ff,
  	tertiary95: #e4f3ff,
  	tertiary98: #f6faff,
  	tertiary99: #fbfcff,
  	tertiary100: #ffffff,

  	neutral0: #000000,
	neutral4: #080909,
	neutral6: #0D0E0D,
  	neutral10: #191c1b,
	neutral12: #1B1C1C,
	neutral17: #272827,
  	neutral20: #2e3130,
	neutral22: #323433,
	neutral24: #373938,
  	neutral25: #393c3b,
  	neutral30: #444846,
  	neutral35: #505351,
  	neutral40: #5c5f5d,
  	neutral50: #747876,
  	neutral60: #8e918f,
  	neutral70: #a9aca9,
  	neutral80: #c4c7c5,
	neutral87: #DCDCDB,
  	neutral90: #e1e3e0,
	neutral92: #EAEAEA,
	neutral94: #EFF0EF,
  	neutral95: #eff1ef,
	neutral96: #F5F4F5,
  	neutral98: #f8faf7,
  	neutral99: #fafdfa,
  	neutral100: #ffffff,
	
  	neutral-variant0: #000000,
  	neutral-variant10: #141d1b,
  	neutral-variant20: #29322f,
  	neutral-variant25: #343d3a,
  	neutral-variant30: #3f4945,
  	neutral-variant35: #4b5451,
  	neutral-variant40: #57605d,
  	neutral-variant50: #6f7975,
  	neutral-variant60: #89938f,
  	neutral-variant70: #a3ada9,
  	neutral-variant80: #bfc9c4,
  	neutral-variant90: #dbe5e0,
  	neutral-variant95: #e9f3ee,
  	neutral-variant98: #f2fcf7,
  	neutral-variant99: #f4fff9,
  	neutral-variant100: #ffffff,
	
  	error0: #000000,
  	error10: #410002,
  	error20: #690005,
  	error25: #7e0007,
  	error30: #93000a,
  	error35: #a80710,
  	error40: #ba1a1a,
  	error50: #de3730,
  	error60: #ff5449,
  	error70: #ff897d,
  	error80: #ffb4ab,
  	error90: #ffdad6,
  	error95: #ffedea,
  	error98: #fff8f7,
  	error99: #fffbff,
  	error100: #ffffff
);

@mixin color-tokens() {
	@include color-token-generator($color-tokens);
}