--md-sys-color-primary-light: #006b59,
  --md-sys-color-on-primary-light: #ffffff,
  --md-sys-color-primary-container-light: #7af8d9,
  --md-sys-color-on-primary-container-light: #002019,
  --md-sys-color-secondary-light: #4b635c,
  --md-sys-color-on-secondary-light: #ffffff,
  --md-sys-color-secondary-container-light: #cde8df,
  --md-sys-color-on-secondary-container-light: #07201a,
  --md-sys-color-tertiary-light: #426277,
  --md-sys-color-on-tertiary-light: #ffffff,
  --md-sys-color-tertiary-container-light: #c6e7ff,
  --md-sys-color-on-tertiary-container-light: #001e2e,
  --md-sys-color-error-light: #ba1a1a,
  --md-sys-color-error-container-light: #ffdad6,
  --md-sys-color-on-error-light: #ffffff,
  --md-sys-color-on-error-container-light: #410002,
  --md-sys-color-background-light: #fafdfa,
  --md-sys-color-on-background-light: #191c1b,
  --md-sys-color-surface-light: #fafdfa,
  --md-sys-color-on-surface-light: #191c1b,
  --md-sys-color-surface-variant-light: #dbe5e0,
  --md-sys-color-on-surface-variant-light: #3f4945,
  --md-sys-color-outline-light: #6f7975,
  --md-sys-color-inverse-on-surface-light: #eff1ef,
  --md-sys-color-inverse-surface-light: #2e3130,
  --md-sys-color-inverse-primary-light: #5bdbbe,
  --md-sys-color-shadow-light: #000000,
  --md-sys-color-surface-tint-light: #006b59,
  --md-sys-color-outline-variant-light: #bfc9c4,
  --md-sys-color-scrim-light: #000000,
  /* dark */
  --md-sys-color-primary-dark: #5bdbbe,
  --md-sys-color-on-primary-dark: #00382d,
  --md-sys-color-primary-container-dark: #005143,
  --md-sys-color-on-primary-container-dark: #7af8d9,
  --md-sys-color-secondary-dark: #b1ccc3,
  --md-sys-color-on-secondary-dark: #1d352e,
  --md-sys-color-secondary-container-dark: #334b44,
  --md-sys-color-on-secondary-container-dark: #cde8df,
  --md-sys-color-tertiary-dark: #aacbe3,
  --md-sys-color-on-tertiary-dark: #103447,
  --md-sys-color-tertiary-container-dark: #294a5f,
  --md-sys-color-on-tertiary-container-dark: #c6e7ff,
  --md-sys-color-error-dark: #ffb4ab,
  --md-sys-color-error-container-dark: #93000a,
  --md-sys-color-on-error-dark: #690005,
  --md-sys-color-on-error-container-dark: #ffdad6,
  --md-sys-color-background-dark: #191c1b,
  --md-sys-color-on-background-dark: #e1e3e0,
  --md-sys-color-surface-dark: #191c1b,
  --md-sys-color-on-surface-dark: #e1e3e0,
  --md-sys-color-surface-variant-dark: #3f4945,
  --md-sys-color-on-surface-variant-dark: #bfc9c4,
  --md-sys-color-outline-dark: #89938f,
  --md-sys-color-inverse-on-surface-dark: #191c1b,
  --md-sys-color-inverse-surface-dark: #e1e3e0,
  --md-sys-color-inverse-primary-dark: #006b59,
  --md-sys-color-shadow-dark: #000000,
  --md-sys-color-surface-tint-dark: #5bdbbe,
  --md-sys-color-outline-variant-dark: #3f4945,
  --md-sys-color-scrim-dark: #000000,